@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .rainbow-border {
    border: 2px solid transparent;
    border-image: linear-gradient(var(--angle, 0deg), #02fcef70 0%, #ffb52b70 50%, #a02bfe70 100%);
    border-image-slice: 1;
    border-radius: 9999px;
  }
}
